.row
  .col-xs-12
    .row
      .col-xs-12
        .panel.panel-default
          .panel-body
            .row
              .col-xs-3.text-left
                span.label.label-default Наши контакты:
              .col-xs-3.text-left
                span.label.label-info  +7 903 004 9886
              .col-xs-3.text-center
                span.label.label-success +7 968 658 5804
              .col-xs-3.text-right
                span.label.label-warning info@goodvag.ru
    hr
    .row
      .col-xs-6.text-left
        a(href='#') GoodVAG.ru &copy; 2010 - 2014
