extends layout
block content
  h4 Схема проезда
  hr
  != '<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=9sIpwq0RjPGHh0cnzkdRKirgzUiXG2zF&width=100%&height=450"></script>'
  br