.row
  .col-xs-12
    .navbar.navbar-default(role='navigation')
      .container-fluid.red
        .navbar-header
          a(href='index.html').navbar-brand Good-V.A.G.

        ul.nav.navbar-nav.navbar-right
          li: a(href='service.html') Услуги
          li: a(href='map.html') Схема проезда

