extends layout
block content
  h4 Мы производим следующие виды работ
  br
  table.table.table-hover
    tr
      td Ремонт и обслуживание дизельных и бензиновых ДВС
    tr
      td Работы по электрике любой сложности
    tr
      td Установка дополнительного оборудования
    tr
      td Переоборудование ТС и диагностика